/node_modules
!data/
#public/images
#public/ima
/.github
/storage/*.key
!.gitignore

/vendor
/.idea
/.well-known
/.cgi-bin
/.vagrant
/nbproject
/app/config/dbconfig.php
/app/config/defconfig.php

#.env
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
